body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up {
  border-style: none;
  font-size: 3rem;
  color: white;
  background-color: #57a6f9;
  border-radius: 8px;
  padding: 5px 40px;
}

.sign-up:hover {
  background-color: #3571af;
}

.sign-up:hover:active {
  outline: #57a6f9 solid 50px;
}
